.header__nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

@media (max-width: 47.99em) {
  .header__nav-list {
    flex-direction: column;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    min-height: 30vh;
    left: 0;
    right: 0;
    top: 100%;
    transform: translate(100%);
    transition: all 0.3s ease;
    padding-block: 3rem;

    /* Hiding HeaderNav */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .header__nav-list[data-visible="true"] {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translate(0%);
  }
}

.header__nav-link {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
}

.header__nav-link:hover {
  border-bottom: 1px solid currentColor;
}
