.form__label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.form__error-message {
  color: red;
  font-size: 0.875rem;
}

.form__input {
  width: 100%;
  padding: 0.15rem 0.5rem;
}

.form__input:focus {
  outline: 1px solid blue;
}

.error .form__input {
  border: 1px solid red;
}
